<div class="codeblock" style="
	background:#{{colors.background1.color}};
	color:#{{colors.foreground1.color}}">
    
	<pre class="codeline"><span style="color:#{{colors.foreground2.color}}">/**</span></pre>
	<pre class="codeline"><span style="color:#{{colors.foreground2.color}}">sample javascript</span></pre>
	<pre class="codeline"><span style="color:#{{colors.foreground2.color}}">**/</span></pre>
	<pre class="codeline"></pre>
    <pre class="codeline"><span style="color:#{{colors.accent6.color}}">var</span> <span style="color:#{{colors.accent8.color}}">undefined</span>,</pre>
    <pre class="codeline"><span style="color:#{{colors.accent8.color}}">    window</span>    = <span style="color:#{{colors.accent5.color}}">this</span>,</pre>
    <pre class="codeline">    string    = <span style="color:#{{colors.accent8.color}}">new </span><span style="color:#{{colors.accent1.color}}">String</span>(<span style="color:#{{colors.accent7.color}}">'string'</span>);</pre>
</div>


